<div class="container ">
    <div class="mt-5">
        <div class="mt-5 pt-5"></div>
        <input [(ngModel)]="inputValue" type="text" name="" id="" class="w-100 p-2 form-control" placeholder="*Search About Product">
    </div>
    <div class="spin-container" *ngIf="isLoading">
        <span class="loader"></span>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 justify-content-center g-4" *ngFor="let currentProduct of allProducts  |  search:inputValue">
            <app-product [product]="currentProduct" [ids]="arrOfIds"></app-product>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button (click)="prevpage()" class="btn-style m-4 px-4 py-2">Prev</button>
        <button (click)="nextpage()" class="btn-style m-4 px-4 py-2">Next</button>
    </div>
</div>