<div class="bg-account">
    <div class="container">
        <div class="pt-5">
            <h2 class="header-color mt-5">My account</h2>
        </div>
        <div class="d-flex justify-content-center py-5">
            <div class="w-50 bg-account p-4 rounded form-border">
                <div class="text-center" *ngIf="forgetForm.invalid && forgetForm.dirty">
                    <hr class="text-danger">
                    <p *ngIf="forgetForm.get('email')?.getError('required')"><i class="fa-solid fa-circle-exclamation text-danger p-2"></i><span class="fw-bold">Error: </span>All Fields is required</p>
                    <p *ngIf="forgetForm.get('email')?.getError('email')"><i class="fa-solid fa-circle-exclamation text-danger p-2"></i><span class="fw-bold">Error: </span>Enter Valid Email</p>                    
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <p *ngIf="apiErrorMessage"><i class="fa-solid fa-circle-exclamation text-danger p-2"></i><span class="fw-bold">Error: </span>{{apiErrorMessage}}</p>
                </div>
                <h2 class="header-color my-2 text-center">Forget Password</h2>
                <p class="text-center text-secondary">*We will send verification code to your email, please check it</p>
                <form class="w-100" (ngSubmit)="forgetPassword()" [formGroup]="forgetForm">
                
                    <input formControlName="email" name="email" type="email" class="form-control mt-4 py-2" placeholder="Email Address *" >
                
                    <button [disabled]="forgetForm.invalid && isLoading" class="btn-style text-center border-2 rounded-0 w-100 mt-4">
                        <span *ngIf="!isLoading">Send</span>
                        <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                    </button>
                </form>
            </div> 
        </div>
    </div>
</div>