<div class="container mb-5 mt-5">
    <div class="row g-0 mt-5">
        <div class="col-9">
            <div>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <img src="assets/images/banner-4.jpeg" alt="" class="w-100 object-fit-cover" height="400">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="assets/images/slide-2.jpeg" alt="" class="w-100 object-fit-cover" height="400">
                    </ng-template>  
                </owl-carousel-o>
            </div>
        </div>
        <div class="col-3">
            <div>
                <div>
                    <img src="assets/images/main-slider-1.jpeg" alt="" class="w-100 object-fit-cover" height="200">
                </div>
                <div>
                    <img src="assets/images/main-slider-3.jpeg" alt="" class="w-100 object-fit-cover" height="200">
                </div>
            </div>
        </div>
    </div>
</div>
<app-home-main-slider></app-home-main-slider>
<div class="spin-container" *ngIf="isLoading">
    <span class="loader"></span>
</div>
<div class="container">
    
    <div class="row m-3"  *ngIf="!isLoading"> 
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 justify-content-center g-4" *ngFor="let currentProduct of allProducts">
            <app-product [product]="currentProduct" [ids]="arrayOfIds" ></app-product>
        </div>
    
    </div>
    <div class="d-flex justify-content-center">
        <button (click)="prevpage()" class="btn-style m-4 px-4 py-2">Prev</button>
        <button (click)="nextpage()" class="btn-style m-4 px-4 py-2">Next</button>
    </div>

</div>
