<div class="bg-account">
    <div class="container">
        <div class="pt-5">
            <h2 class="header-color mt-5">My account</h2>
        </div>
        <div class="d-flex justify-content-center py-5">
            <div class="w-50 bg-account p-4 rounded form-border">
                <div class="text-center" *ngIf="loginForm.invalid && loginForm.dirty">
                    <hr class="text-danger">
                    <p *ngIf="loginForm.get('email')?.getError('required') ||
                     loginForm.get('password')?.getError('required')
                     "><i class="fa-solid fa-circle-exclamation text-danger p-2"></i><span class="fw-bold">Error: </span>All Fields is required</p>
                    <p *ngIf="loginForm.get('email')?.getError('email')"><i class="fa-solid fa-circle-exclamation text-danger p-2"></i><span class="fw-bold">Error: </span>Enter Valid Email</p>
                    <p *ngIf="loginForm.get('password')?.getError('pattern')"><i class="fa-solid fa-circle-exclamation text-danger p-2"></i><span class="fw-bold">Error: </span>password should contains Captial letter A-Z and 5 numbers at least</p>
                    
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <p *ngIf="apiErrorMessage"><i class="fa-solid fa-circle-exclamation text-danger p-2"></i><span class="fw-bold">Error: </span>{{apiErrorMessage}}</p>
                </div>
                <h2 class="header-color my-2 text-center">Login</h2>
                <form class="w-100" (ngSubmit)="loginFn()" [formGroup]="loginForm">
                
                    <input formControlName="email" name="email" type="email" class="form-control mt-4 py-2" placeholder="Email Address *" >
                
                    <input formControlName="password" name="password" type="password" class="form-control mt-4 py-2" placeholder="Password *" >
                    
                    <div class="mt-2 py-2">
                        <input type="checkbox" id="check" class="m-2"><label for="check">Remember me</label>
                    </div>
                    
                    <button [disabled]="loginForm.invalid && isLoading" class="btn-style text-center border-2 rounded-0 w-100 mt-4">
                        <span *ngIf="!isLoading">Login</span>
                        <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                    </button>
                </form>

                <div class="d-flex flex-column align-items-center">
                    <a class="text-main py-2" routerLink="/forget-password">Forget Password?</a>
                    <a class="text-main" routerLink="/register">You don’t have account, Register Now!</a>
                </div>
            </div> 
        </div>
    </div>
</div>