
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --main-color:#f2295b;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family: "Kanit", sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a {
    text-decoration: none;
}
a:hover{
    color: var(--main-color);
}
.product:hover
{
    box-shadow: var(--shadow);
    
}

.product img{
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.product:hover img{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: transform 1s , opacity 1s;
    -moz-transition: transform 1s , opacity 1s;
    -ms-transition: transform 1s , opacity 1s;
    -o-transition: transform 1s , opacity 1s;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.footer-bg{
    background-color: #415161;
}
ul{
    list-style: none;
}
.font-icon{
    font-size: 10px;
}
.header-color{
    color:#415161;
}
.bg-account{
    background-color: #dddddd;;
}
.btn-style{
    border-top:2px solid #415161;
    border-right:2px solid #415161;
    border-bottom:2px solid #415161;
    border-left:2px solid transparent;
    background: none;
    padding: 4px;
}
.btn-style2{
    border:1px solid #b2b2b260;
    background: #d6d6d6;
    padding: 4px;
    color: rgb(96, 96, 96)
}
.form-border{
    border: 1px solid rgba(0, 0, 0, 0.233);
}
.brand{
    border: 1px solid rgba(0, 0, 0, 0.233);
    overflow: hidden;
    
}
.brand img{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.brand:hover{
    border: 1px solid var(--main-color);

}
.brand:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
input.form-control:focus{
    box-shadow: none;
}
.check{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

input.ng-invalid{
    border: 1px solid var(--main-color);
}
input.ng-valid{
    border: 1px solid green;
}
input.ng-untouched{
    border: 1px solid rgba(0, 0, 0, 0.043);
}
.quick-view{
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
    -webkit-transition: 0.5s opacity ease-in-out;
    -moz-transition: 0.5s opacity ease-in-out;
    -ms-transition: 0.5s opacity ease-in-out;
    -o-transition: 0.5s opacity ease-in-out;
}
.product:hover .quick-view{
    opacity: 1;
    
}
.footer-color{
    background-color: #415161;
}
.social-icon:hover{
    background-color: var(--main-color);
}
.social-icon:hover i{
    color: #f0f3f2;
}
.social-icon{
    background-color: white;
}
.toast-top-center {
    position: fixed;
    right: 0;
    width: 250px;
    height: 75px;
    margin: 15px;
    padding: 10px;
    color: white;
  }
  /*Loader*/
  .spin-container{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(218, 165, 32) !important;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    overflow: hidden;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid #FF3D00;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
}
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #FFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 